<a href="https://colab.research.google.com/github/mariesweeney900/DataRepresentation/blob/main/ChiSquaredAssessmentML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=None)

NameError: ignored

In [114]:
import numpy as np 
import pandas as pd
import scipy
from scipy import stat
import seaborn as sns
from matplotlib import pyplot as plt
import random

ImportError: ignored

In [117]:
# List of Tuples
collar = [ (90, 60, 104 , 95) ,
           (30, 50,51, 20) ,
           (30, 40, 45 , 35)]
#Create a DataFrame object
dfObj = pd.DataFrame(collar, columns = ['A' , 'B', 'C' , 'D'], index=['White Collar', 'Blue Collar', 'No Collar'])

dfObj

               A   B    C   D
White Collar  90  60  104  95
Blue Collar   30  50   51  20
No Collar     30  40   45  35

In [122]:
pd.crosstab(index=['White Collar', 'Blue Collar', 'No Collar'], columns=['A' , 'B', 'C' , 'D'])

pd.crosstab

ValueError: ignored

In [ ]:
d_crosstab = pd.crosstab(dfObj['collar'], 
                            dfObj['category'],  
                               margins = False) 
print(d_crosstab) # print cross-tab

In [94]:

def tc(d):
  return d.assign(Total=d.drop('Total', errors='ignore', axis=1).sum(1).astype(int))

dfObj.pipe(tc).T.pipe(tc).T

                A    B    C    D  Total
White Collar   90   60  104   95    349
Blue Collar    30   50   51   20    151
No Collar      30   40   45   35    150
Total         150  150  200  150    650

In [84]:
a = np.array(['A', 'B', 'C', 'D'], dtype=object)
b = np.array([90, 60, 104 , 95], dtype=object)
c = np.array([30, 50, 51, 20],dtype=object)
d = np.array([30, 40, 45, 35], dtype=object)



pd.crosstab(a, [b, c, d], rownames=['White Collar', 'Blue Collar', 'No Collar'], colnames=['A', 'B', 'C', 'D'])

AssertionError: ignored

In [95]:
white = pd.Categorical([90, 60, 104 , 95],  
                         categories=['a', 'b', 'c', 'd']) 
  
blue = pd.Categorical([30, 40, 45, 35],  
                         categories=['a', 'b', 'c', 'd']) 
  
# form crosstab with dropna=True (default) 
pd.crosstab(white, blue) 
  
# form crosstab with dropna=False 
pd.crosstab(white, blue, dropna=False)

Empty DataFrame
Columns: []
Index: []

In [107]:

  
# create some data 
white = pd.Categorical(['wc', 'bc', 'nc'],  
                         categories=['wc', 'bc', 'nc']) 
  
blue = pd.Categorical(['a', 'b', 'c'],  
                         categories=[90, 'b', 'c', 'd']) 
  
# form crosstab with dropna=True (default) 
pd.crosstab(white, blue) 
  
# form crosstab with dropna=False 
pd.crosstab(white, blue, dropna=False)

col_0  90  b  c  d
row_0
wc      1  0  0  0
bc      0  1  0  0
nc      0  0  1  0

In [112]:
pd.crosstab(dfObj.A, dfObj.WhiteCollar,margins=True)

AttributeError: ignored

In [82]:
# Define the headers since the data does not have any
headers = ["make","price"]

dfObj = pd

# Define a list of models that we want to review
collartype = ['White Collar', 'Blue Collar', 'No Collar']

# Create a copy of the data with only the top 8 manufacturers
df = dfObj[dfObj.make.isin(collartype)].copy()

AttributeError: ignored

In [71]:
dfObj = pd.crosstab(margins=True)
dfObj.columns = ["A", "B", "C", "D", "Total"]
dfObj.index = ["White Collar", "Blue Collar", "No Collar", "Total]

dfObj

SyntaxError: ignored

In [72]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas

dfObj_new = dfObj.T
dfObj_new

   White Collar  Blue Collar  No Collar
A            90           30         30
B            60           50         40
C           104           51         45
D            95           20         35

In [73]:
dfObj_new.loc['Total',:]= dfObj_new.sum(axis=0).astype(int)
dfObj_new.loc[:,'Total'] = dfObj_new.sum(axis=1).astype(int)
dfObj_new

       White Collar  Blue Collar  No Collar  Total
A              90.0         30.0       30.0    150
B              60.0         50.0       40.0    150
C             104.0         51.0       45.0    200
D              95.0         20.0       35.0    150
Total         349.0        151.0      150.0    650

In [74]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas

def tc(d):
  return d.assign(Total=d.drop('Total', errors='ignore', axis=1).sum(1)).astype(int)

dfObj.pipe(tc).T.pipe(tc).T

                A    B    C    D  Total
White Collar   90   60  104   95    349
Blue Collar    30   50   51   20    151
No Collar      30   40   45   35    150
Total         150  150  200  150    650

In [75]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas
dfObj.append(dfObj.sum().rename('Total')).assign(Total=lambda d: d.sum(1))

                A    B    C    D  Total
White Collar   90   60  104   95    349
Blue Collar    30   50   51   20    151
No Collar      30   40   45   35    150
Total         150  150  200  150    650

In [77]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas

#Total sum per column: 
dfObj.loc['Totalcolumn',:]= dfObj.sum(axis=0).astype(int)

#Total sum per row: 
dfObj.loc[:,'TotalRow'] = dfObj.sum(axis=1).astype(int)

dfObj

                  A      B      C      D  TotalRow
White Collar   90.0   60.0  104.0   95.0       698
Blue Collar    30.0   50.0   51.0   20.0       302
No Collar      30.0   40.0   45.0   35.0       300
Totalcolumn   300.0  300.0  400.0  300.0      2600

In [53]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas

In [78]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas
def tc(d):
  return d.assign(Total=d.drop('Total', errors='ignore', axis=1).sum(1))

dfObj.pipe(tc).T.pipe(tc).T

                  A      B      C      D  TotalRow   Total
White Collar   90.0   60.0  104.0   95.0     698.0  1047.0
Blue Collar    30.0   50.0   51.0   20.0     302.0   453.0
No Collar      30.0   40.0   45.0   35.0     300.0   450.0
Totalcolumn   300.0  300.0  400.0  300.0    2600.0  3900.0
Total         450.0  450.0  600.0  450.0    3900.0  5850.0

In [79]:
 
 
#https://reneshbedre.github.io/blog/chisq.html
 
# run chi-square test for independence
res = stat()
res.chisq(dfObj=dfObj)
 
 
print(res.summary)

NameError: ignored

 df.loc['Total'] = pd.Series(df['White Collar'].sum(), index = ['White Collar'])
print (df)

In [ ]:
https://www.geeksforgeeks.org/pandas-crosstab-function-in-python/