<a href="https://colab.research.google.com/github/mariesweeney900/DataRepresentation/blob/main/Copy_of_ChiSquaredAssessmentML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=None)

NameError: ignored

In [2]:
import numpy as np 
import pandas as pd
import scipy

import seaborn as sns
from matplotlib import pyplot as plt
import random

In [7]:
import pandas as pd

data = {'Collar': ['White Collar', 'Blue Collar', 'No Collar'],
        'A': [90, 30, 30],
        'B': [60, 50, 40], 
        'C': [104, 51, 45],
        'D': [95, 20, 35]
        }

df = pd.DataFrame(data)
df

         Collar   A   B    C   D
0  White Collar  90  60  104  95
1   Blue Collar  30  50   51  20
2     No Collar  30  40   45  35

In [ ]:
pd.crosstab(data, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)
pd

NameError: ignored

In [8]:
# set treatments column as index
>>> dfchi = df.set_index('Collar')
>>> dfchi.head()

         Collar   A   B    C   D
0  White Collar  90  60  104  95
1   Blue Collar  30  50   51  20
2     No Collar  30  40   45  35

In [16]:
from scipy.stats import chi2_contingency


chi2_contingency(dfchi)

(24.5712028585826,
 0.0004098425861096696,
 6,
 array([[ 80.53846154,  80.53846154, 107.38461538,  80.53846154],
        [ 34.84615385,  34.84615385,  46.46153846,  34.84615385],
        [ 34.61538462,  34.61538462,  46.15384615,  34.61538462]]))

In [17]:
pvalue=chi2_contingency(dfchi)[1]
pvalue

0.0004098425861096696

In [5]:
#https://www.w3resource.com/pandas/crosstab.php

p = np.array([90, 30, 30], dtype=object)


q = np.array([60, 50, 40], dtype=object)


r = np.array([104, 51, 45],
             dtype=object)
          
            


pd.crosstab(p, [q, r], rownames=['p'], colnames=['q', 'r'])

q   40  50  60
r  45  51  104
p
30   1   1   0
90   0   0   1

In [ ]:
df= pd.crosstab(df.A, dfObj.White Collar,margins=True)

SyntaxError: ignored

In [ ]:
pd.crosstab(index=['White Collar', 'Blue Collar', 'No Collar'], columns=['A' , 'B', 'C' , 'D'])

pd.crosstab

ValueError: ignored

In [ ]:
pd.crosstab(index=['White Collar', 'Blue Collar', 'No Collar'], columns=['A' , 'B', 'C' , 'D'])

pd.crosstab

ValueError: ignored

In [ ]:

def tc(d):
  return d.assign(Total=d.drop('Total', errors='ignore', axis=1).sum(1).astype(int))

dfObj.pipe(tc).T.pipe(tc).T

                A    B    C    D  Total
White Collar   90   60  104   95    349
Blue Collar    30   50   51   20    151
No Collar      30   40   45   35    150
Total         150  150  200  150    650

In [ ]:
import pandas as pd
A = pd.Categorical([90, 30],  categories=[90, 30, 30]) 
  
B = pd.Categorical([60, 50],  categories=[60, 50, 40]) 
  
# form crosstab with dropna=True (default) 
pd.crosstab(A, B) 
  
# form crosstab with dropna=False 
pd.crosstab(A, B, dropna=False)

ValueError: ignored

In [ ]:

  
# create some data 
white = pd.Categorical(['wc', 'bc', 'nc'],  
                         categories=['wc', 'bc', 'nc']) 
  
blue = pd.Categorical(['a', 'b', 'c'],  
                         categories=[90, 'b', 'c', 'd']) 
  
# form crosstab with dropna=True (default) 
pd.crosstab(white, blue) 
  
# form crosstab with dropna=False 
pd.crosstab(white, blue, dropna=False)

col_0  90  b  c  d
row_0
wc      1  0  0  0
bc      0  1  0  0
nc      0  0  1  0

In [ ]:
pd.crosstab(dfObj.A, dfObj.WhiteCollar,margins=True)

AttributeError: ignored

In [ ]:
dfObj = pd.crosstab(margins=True)
dfObj.columns = ["A", "B", "C", "D", "Total"]
dfObj.index = ["White Collar", "Blue Collar", "No Collar", "Total]

dfObj

SyntaxError: ignored

In [ ]:
dfObj_new.loc['Total',:]= dfObj_new.sum(axis=0).astype(int)
dfObj_new.loc[:,'Total'] = dfObj_new.sum(axis=1).astype(int)
dfObj_new

       White Collar  Blue Collar  No Collar  Total
A              90.0         30.0       30.0    150
B              60.0         50.0       40.0    150
C             104.0         51.0       45.0    200
D              95.0         20.0       35.0    150
Total         349.0        151.0      150.0    650

In [ ]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas

def tc(d):
  return d.assign(Total=d.drop('Total', errors='ignore', axis=1).sum(1)).astype(int)

dfObj.pipe(tc).T.pipe(tc).T

                A    B    C    D  Total
White Collar   90   60  104   95    349
Blue Collar    30   50   51   20    151
No Collar      30   40   45   35    150
Total         150  150  200  150    650

In [ ]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas
dfObj.append(dfObj.sum().rename('Total')).assign(Total=lambda d: d.sum(1))

                A    B    C    D  Total
White Collar   90   60  104   95    349
Blue Collar    30   50   51   20    151
No Collar      30   40   45   35    150
Total         150  150  200  150    650

In [ ]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas

#Total sum per column: 
dfObj.loc['Totalcolumn',:]= dfObj.sum(axis=0).astype(int)

#Total sum per row: 
dfObj.loc[:,'TotalRow'] = dfObj.sum(axis=1).astype(int)

dfObj

                  A      B      C      D  TotalRow
White Collar   90.0   60.0  104.0   95.0       698
Blue Collar    30.0   50.0   51.0   20.0       302
No Collar      30.0   40.0   45.0   35.0       300
Totalcolumn   300.0  300.0  400.0  300.0      2600

In [ ]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas

In [ ]:
#https://stackoverflow.com/questions/53414960/how-do-i-create-a-sum-row-and-sum-column-in-pandas
def tc(d):
  return d.assign(Total=d.drop('Total', errors='ignore', axis=1).sum(1))

dfObj.pipe(tc).T.pipe(tc).T

                  A      B      C      D  TotalRow   Total
White Collar   90.0   60.0  104.0   95.0     698.0  1047.0
Blue Collar    30.0   50.0   51.0   20.0     302.0   453.0
No Collar      30.0   40.0   45.0   35.0     300.0   450.0
Totalcolumn   300.0  300.0  400.0  300.0    2600.0  3900.0
Total         450.0  450.0  600.0  450.0    3900.0  5850.0

In [ ]:
 
 
#https://reneshbedre.github.io/blog/chisq.html
 
# run chi-square test for independence
res = stat()
res.chisq(dfObj=dfObj)
 
 
print(res.summary)

NameError: ignored

 df.loc['Total'] = pd.Series(df['White Collar'].sum(), index = ['White Collar'])
print (df)

In [ ]:
https://www.geeksforgeeks.org/pandas-crosstab-function-in-python/